<app-header></app-header>
<div class="col-100 center">
  <div class="content">
    <h1>Cadastro de Colaboradores</h1>
  </div>
</div>
<div>
  <ul>
    <li>ALexandre</li>
    <li>Fábio</li>
    <li>Tatiana</li>
    <li>José</li>
    <li>João</li>
    <li>Alex</li>
    <li>Fábio</li>
    <li>Alexandra</li>
    <li>Bruna</li>
    <li>Otavio</li>
  </ul>
  <div>
    <h1 class="center">
      Colaboradores de Folga
    </h1>
  </div>
  <div>
    <ul>
      <li>Flávia</li>
      <li>Adriana</li>
      <li>Olavo</li>
      <li>Agnes</li>
      <li>Edite</li>
      <li>Odete</li>
      <li>Assís</li>
      <li>Jéssica</li>
      <li>Cristian</li>
      <li>Jax</li>
    </ul>
  </div>
  <app-footer></app-footer>
</div>

